<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @user.apartment_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<% if @user.debts.empty? %>
    <p>no debts </p>
<% else %>
    <p>Has <%= pluralize(@user.debts.count,'debt') %>, total <%= @debts.where(:receiver_id => @user.id).sum(:amount) %> </p>
<% end %>