<p id="notice"><%= notice %></p>

<h2><%= @apartment.name %></h2>

<p>Residents: <%= @apartment.users.count %> </p>

<p>
  <% @apartment.users.each do |user| %>
    <%= link_to user.name, user %>
  <% end %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
