<!DOCTYPE html>
<html>
<head>
  <title>Velkakirja</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navibar">
  <%= link_to 'Apartments', apartments_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Debts', debts_path %>
</div>

<%= yield %>

</body>
</html>
